venv/

db.sqlite3
__pycache__/
*.pyc

ecommerce_backend/__pycache__/
ecommerce_backend/migrations/
ecommerce_backend/static/

orders/migrations/
orders/__pycache__/

products/migrations/
products/__pycache__/

users/migrations/
users/__pycache__/




